<%- include('head') -%>

<body>
    <div class="container-fluid">
        <h1 class="text-center my-4">Geolocalização</h1>

        <%- include('accident-alert') -%>
        
        <div class="row">
            <div class="col-md-6 text-center">
                <p class="font-weight-bold">Latitude: <span id="latitude"></span></p>
            </div>
            <div class="col-md-6 text-center">
                <p class="font-weight-bold">Longitude: <span id="longitude"></span></p>
            </div>
        </div>
        <br>
        <div id="map" class="mb-4" style="height: 600px;"></div>
    </div>
</body>

<script>
   document.addEventListener('DOMContentLoaded', (event) => {
        initGetLocation();
   });

    // interval
    let isUpdating = false;
    let intervalId;

    // map
    let map;
    let markerGroup = L.layerGroup();

    function getLocation() {
        let apiUrl = `/location/<%= client_id %>`;

        fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                console.log(data)
                if (data && data.latitude && data.longitude) {
                    lat = data.latitude
                    long = data.longitude
                    document.getElementById("latitude").innerText = lat;
                    document.getElementById("longitude").innerText = long;
                    updateMap(lat, long);
                }
            })
            .catch(error => {
                console.error('Erro na solicitação da API:', error);
            });
    }

    // Inicia ou para a atualização da localização
    function initGetLocation() {
        if(!isUpdating) {
            getLocation(); 
            intervalId = setInterval(getLocation, 1000);
            isUpdating = true;
        } else {
            clearInterval(intervalId);
            isUpdating = false;
        }
    }

    function updateMap(latitude, longitude) {
        // Cria o mapa se ainda não existir
        if (!map) {
            map = L.map('map').setView([latitude, longitude], 13);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
        }

        // Remove todas as camadas do grupo de camadas
        markerGroup.clearLayers();

        // Adiciona um marcador para a nova localização
        let marker = L.marker([latitude, longitude]);
        markerGroup.addLayer(marker);

        // Adiciona um círculo ao redor do marcador
        let circle = L.circle([-22.8836683, -42.025295], {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.5,
            radius: 500 // Raio do círculo em metros
        });

        // Adiciona o marcador e o círculo ao grupo de camadas
        markerGroup.addLayer(circle);

        markerGroup.addTo(map);

        // Adiciona um evento de clique ao mapa para obter coordenadas
    map.on('click', function (e) {
        let clickedLatLng = e.latlng;
        document.getElementById("latitude").innerText = clickedLatLng.lat;
        document.getElementById("longitude").innerText = clickedLatLng.lng;
    });

    }
</script>

</html>